<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boy_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,126},{73,122}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{73,122}}</string>
                <key>sourceSize</key>
                <string>{87,130}</string>
            </dict>
            <key>boy_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,256},{73,122}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{73,122}}</string>
                <key>sourceSize</key>
                <string>{87,130}</string>
            </dict>
            <key>boy_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,124},{71,120}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{71,120}}</string>
                <key>sourceSize</key>
                <string>{87,130}</string>
            </dict>
            <key>boy_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,372},{69,120}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{69,120}}</string>
                <key>sourceSize</key>
                <string>{87,130}</string>
            </dict>
            <key>boy_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,250},{71,120}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{71,120}}</string>
                <key>sourceSize</key>
                <string>{87,130}</string>
            </dict>
            <key>boy_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,380},{71,120}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{71,120}}</string>
                <key>sourceSize</key>
                <string>{87,130}</string>
            </dict>
            <key>boy_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{73,122}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{73,122}}</string>
                <key>sourceSize</key>
                <string>{87,130}</string>
            </dict>
            <key>boy_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,132},{76,122}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,46},{76,122}}</string>
                <key>sourceSize</key>
                <string>{276,214}</string>
            </dict>
            <key>boy_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,264},{86,124}}</string>
                <key>offset</key>
                <string>{-39,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,34},{86,124}}</string>
                <key>sourceSize</key>
                <string>{276,214}</string>
            </dict>
            <key>boy_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,2},{80,120}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,48},{80,120}}</string>
                <key>sourceSize</key>
                <string>{276,214}</string>
            </dict>
            <key>boy_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,390},{90,120}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,48},{90,120}}</string>
                <key>sourceSize</key>
                <string>{276,214}</string>
            </dict>
            <key>boy_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,246},{60,120}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,47},{60,120}}</string>
                <key>sourceSize</key>
                <string>{276,214}</string>
            </dict>
            <key>boy_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{52,128}}</string>
                <key>offset</key>
                <string>{20,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,55},{52,128}}</string>
                <key>sourceSize</key>
                <string>{276,214}</string>
            </dict>
            <key>boy_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{62,110}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,54},{62,110}}</string>
                <key>sourceSize</key>
                <string>{276,214}</string>
            </dict>
            <key>boy_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{90,128}}</string>
                <key>offset</key>
                <string>{-83,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{90,128}}</string>
                <key>sourceSize</key>
                <string>{276,214}</string>
            </dict>
            <key>boy_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,130}}</string>
                <key>offset</key>
                <string>{-83,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{78,130}}</string>
                <key>sourceSize</key>
                <string>{276,214}</string>
            </dict>
            <key>boy_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{82,128}}</string>
                <key>offset</key>
                <string>{-85,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{82,128}}</string>
                <key>sourceSize</key>
                <string>{276,214}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boy.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd552057fe71f22333d2536d602076ce:1/1$</string>
            <key>textureFileName</key>
            <string>boy.png</string>
        </dict>
    </dict>
</plist>
