<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>meinv_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,65},{59,141}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{59,141}}</string>
                <key>sourceSize</key>
                <string>{69,151}</string>
            </dict>
            <key>meinv_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,2},{69,141}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{69,141}}</string>
                <key>sourceSize</key>
                <string>{69,151}</string>
            </dict>
            <key>meinv_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{61,143}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{61,143}}</string>
                <key>sourceSize</key>
                <string>{69,151}</string>
            </dict>
            <key>meinv_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{67,139}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{67,139}}</string>
                <key>sourceSize</key>
                <string>{69,151}</string>
            </dict>
            <key>meinv_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,195},{69,137}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,137}}</string>
                <key>sourceSize</key>
                <string>{69,151}</string>
            </dict>
            <key>meinv_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,335},{67,137}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{67,137}}</string>
                <key>sourceSize</key>
                <string>{69,151}</string>
            </dict>
            <key>meinv_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,335},{63,137}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{63,137}}</string>
                <key>sourceSize</key>
                <string>{69,151}</string>
            </dict>
            <key>meinv_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,145},{69,137}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{69,137}}</string>
                <key>sourceSize</key>
                <string>{69,151}</string>
            </dict>
            <key>meinv_0_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{67,137}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{67,137}}</string>
                <key>sourceSize</key>
                <string>{69,151}</string>
            </dict>
            <key>meinv_0_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,335},{65,137}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{65,137}}</string>
                <key>sourceSize</key>
                <string>{69,151}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>meinv.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7a7bcc66fe1e50ea4cdb1bdedee2438:1/1$</string>
            <key>textureFileName</key>
            <string>meinv.png</string>
        </dict>
    </dict>
</plist>
